:root {
  --bg: #fff;
  --main: #FC4A1A;
  --link: #0b0b8f;
  --linkSec: rgba(247, 183, 51, 0.7);
  --sec: #F7B733;
  --grey: #DFDCE3;
  --font: #333;
}

/* Colour fonts added */
@font-face {
  font-family: 'Gilbert';
  src: url('fonts/Gilbert-Color Bold-Preview_1004.otf');
}

@font-face {
  font-family: 'Bixa';
  src: url('fonts/NTBixa-Color.otf');
}

html {
  background-color: var(--bg);
  color: var(--font);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Reset styles to avoid browser defaults */
body {
  margin: 0;
}

header {
  text-align: center;
  height:50vh;
  background:url(http://wes.io/iEgP/wow-so-deep.jpg) bottom center no-repeat;
  background-size:cover;
  display:flex;
  align-items:center;
  justify-content: center;
}

header > h1 {
  color:white;
  font-size: 7vw;
  text-shadow: 3px 4px 0 rgba(0,0,0,0.2)
}

/** STICK NAV **/
nav {
  background:black;
  top:0;
  width: 100%;
  transition:all 0.5s;
  position: relative;
  z-index: 1;
}

/* Added when scrollY >= nav.offsetTop */
body.fixed-nav nav {
  position: fixed;
  box-shadow:0 5px 0 rgba(0,0,0,0.1);
}

nav ul {
  margin: 0;
  padding:0;
  list-style: none;
  display:flex;
}

nav li {
  flex:1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li a:hover {
  font-size: 1.2em
}

li.logo {
  max-width:0;
  overflow: hidden;
  background: white;
  transition: all 0.5s;
  font-weight: 600;
  font-size: 30px;
}

li.logo a {
  color:black;
}

.fixed-nav li.logo {
  max-width:500px;
}

nav a {
  text-decoration: none;
  padding:20px;
  display: inline-block;
  color:white;
  transition: all 0.2s;
  text-transform: uppercase;
}

/* class added  */
.highlight {
  transition: all 0.3s;
  border-bottom:2px solid rgba(0,0,0,0.1);
  position: absolute;
  top:0;
  background:rgba(255,255,255,0.2);
  left:0;
  z-index: 1;
  border-radius:20px;
  display: block;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  pointer-events: none;
}

/** CONTENT **/

.content {
  min-height: calc(80vh);
  position: relative;
}

h1 {
  text-align: center;
  font-family: 'Gilbert';
}

h2 {
  font-family: 'Bixa';
}

section {
  padding: 0px 10%;
}
img#logo {
  opacity: 1;
  border: none;
  box-shadow: none;
  transform:translateX(0%) scale(1);
  width: 2em;
  height: 2em;
}

img#logo:hover {
  width: 2.1em;
  height: 2.1em;
}

img {
  border: 1px solid var(--sec);
  opacity:1;
  transition:all .5s;
  box-shadow: 5px 10px var(--sec);
  /* transform:translateX(-30%) scale(0.95); add back if adding sliding transition */
}

img.active {
  opacity:1;
  transform:translateX(0%) scale(1);
}

footer {
  background-color: var(--grey);
  position: relative;
  text-align: right;
}

/****** Gallery Styles *******/

/* add media queries when width is less than 1280px
- change to column
- change the position of hidden text above and below to left and right */

@media only screen and (max-width : 680px) {
  .panels {
    flex-direction: column;
  }

  .panel .open {
    font-size: 12px;
  }

  .panel > * {
    flex-direction: row;
  }
}

.panels {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
}

.panel {
  background: #6B0F9C;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  color: white;
  text-align: center;
  align-items: center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition:
    font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    background 0.2s;
  font-size: 10px;
  background-size: cover;
  background-position: center;
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}


.panel1 { background-image: url(https://source.unsplash.com/6GPBVYLapYQ/1500x1500); }
.panel2 { background-image: url(https://source.unsplash.com/nhi3_11E6zM/1500x1500); }
.panel3 { background-image: url(https://source.unsplash.com/h7dl6upIOOs/1500x1500); }
.panel4 { background-image: url(https://source.unsplash.com/5p1GMMv4XTI/1500x1500); }
.panel5 { background-image: url(https://source.unsplash.com/70Rir5vB96U/1500x1500); }

/* Flex items */
.panel > * {
margin: 0;
width: 100%;
transition: transform 0.5s;
flex: 1 0 auto;
display: flex;
justify-content: center;
align-items: center;
}

.panel > *:first-child {
transform:translateY(-100%)
}
.panel.open-active > *:first-child {
transform:translateY(0)
}

.panel > *:last-child {
transform:translateY(150px)
}
.panel.open-active > *:last-child {
transform:translateY(0)
}

.panel p {
text-transform: uppercase;
font-family: 'Amatic SC', cursive;
text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
font-size: 2em;
}

.panel p:nth-child(2) {
font-size: 4em;
}

.panel.open {
font-size: 20px;
flex: 3;
}

.content {
flex: 1;
}
